body{
    width:960px;
    margin-left:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
}

ul:first-of-type{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

h2{
    border: 1px solid #929CA4;
    border-radius: 7px;
    background-color: #DFE3E6 ;
    padding-left: 8px;
}

a, h2{
    color: #CC1C0D;
}

#solutions{
    margin-top: 0px;
}

img {
	float: left;
	margin: 8px 15px 0 0;
}

p img{
    width: 63px;
    height: 36px;
}

section img{
    margin-right: 15px;
    border: 3px solid #CC1C0D;
    border-radius: 45px;
}

/*.pricing {
	width: 740px !important;	
}*/
.pricing div {
	width: 229px;
	float: left;
	border: 1px solid #929CA4;
	border-radius: 10px;
	margin-right: 5px;
	text-align: center;
	padding-top: 10px;
}
.pricing div img {
	float: none !important;
	border: none;
}
.pricing div h3 {
	padding-top: 10px;
}
.pricing div:nth-child(1) h3 {
	border-top: 10px solid #CC1C0D;
}
.pricing div:nth-child(2) h3 {
	border-top: 10px solid #37A4A4;
}
.pricing div:nth-child(3) h3 {
	border-top: 10px solid #685288;
}
.pricing div:nth-child(4) {
	padding-top: 33px;
}
.pricing div:nth-child(4) h3 {
	border-top: 10px solid #000;
}

#vprospect,
#vconvert,
#vretain {
	font-weight: bold;	
}

ul li ul li {
	margin-left: 35px;	
}

h2 img{
    width: 80px;
    height: 100px;
}
